* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
  --p-color: rgb(178, 178, 178);
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  background-color: #000;
  color: var(--p-color);
  font-weight: 500;
  height: 99vh;
}

h1, h2, h3, h4 {
  color: white;
}



.general-container {
  margin: 1rem auto;
  width: 100%;
  max-height: 100%;
  display: grid;
  grid-template-rows: 108px 99px auto 7%;
  grid-template-columns: auto;
  grid-template-areas:"left center center right"
                      "1st center center right"
                      "3rd center center right"
                      "foot foot  foot  foot";
  gap: 0.9rem;
}

.general-container > *:not(footer) {
  background-color: #1a1a1a;
  padding: 1rem 1.5rem;
  border-radius: 10px;
}

/* ? HOME & SEARCH */

.upper-left {
  grid-area: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}

.upper-left > div:first-child, .upper-left > div:last-child {
  display: flex;
  gap: 1.5rem;
  padding: 0.5rem;
  cursor: pointer;
  color: var(--p-color);
  font-weight: bold;
}

.upper-left > div:first-child:hover, .upper-left > div:last-child:hover {
  color: white;
  transition: all 0.3s ease-in
}

/* ? YOUR LIBRARY TOP */

.first-bottom-left {
  grid-area: 1st;
}

.library-left > div:first-of-type {
  display: flex;
  justify-content: space-between;
}

.library-left > div:first-of-type > div {
  cursor: pointer;
}

.library-left > div:first-of-type > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  font-weight: bold;
}

.library-left > div:first-of-type > div:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 2rem;
}

.library-down > div {
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
}

.library-down > div p {
  font-size: 1.2rem;
  background-color: #3a3a3a;
  color: white;
  border-radius: 30px;
  padding: 0.7rem 1rem;
}

.library-down > div p:hover {
  background-color: #4f4f4f;

  cursor: pointer;
  transition: all 0.3s ease-in;
}

.second-bottom-left {
  grid-area: 2nd;
  display: flex;
  justify-content: space-between;
}

.second-bottom-left > div:nth-child(2) > p::after {
  content: "\f03a";
  font: var(--fa-font-solid);
}

.third-bottom-left {
  grid-area: 3rd;
  overflow-y: scroll;
}

.third-bottom-left > .albumc {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}



.third-bottom-left::-webkit-scrollbar {
  width: 15px;
}

.third-bottom-left::-webkit-scrollbar-track {
  background-color: transparent;
}

.third-bottom-left::-webkit-scrollbar-thumb {
  background-color: #88888800;
  cursor: pointer;

}

.third-bottom-left:hover::-webkit-scrollbar-thumb {
  background-color: #8888889c;
  transition: all 5s ease-in-out;
}

.third-bottom-left:hover::-webkit-scrollbar-thumb:hover {
  background-color: #a4a4a49c;
  transition: all 5s ease-in-out;
}

.center {
  grid-area: center;
  overflow-y: scroll;
}


.center > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center::-webkit-scrollbar {
  width: 15px;
}

.center::-webkit-scrollbar-track {
  background-color: transparent;
}

.center::-webkit-scrollbar-thumb {
  background-color: #88888800;
  cursor: pointer;

}

.center:hover::-webkit-scrollbar-thumb {
  background-color: #8888889c;
  transition: all 5s ease-in-out;
}

.center:hover::-webkit-scrollbar-thumb:hover {
  background-color: #a4a4a49c;
  transition: all 5s ease-in-out;
}

.icons-center-top > div:first-child {
  display: flex;
  gap: 0.8rem;
}

.icons-center-top > div:first-child span {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons-center-top > div:first-child span > i {
  position: absolute;
}

.icons-center-top > div:last-child {
  display: flex;
  gap: 1.5rem;
}

.icons-center-top > div:last-child span {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons-center-top > div:last-child span > i {
  position: absolute;
}


.upper-right {
  grid-area: right;
}


footer {
  grid-area: foot;
  background-color: #000;
  border: 1px solid white;
}

footer .foot-container {
  padding: 0 1.5rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .foot-container > div:first-child {
  display: flex;
  gap: 1.8rem;
  align-items: center;
}

footer .foot-container > div:first-child img {
  border-radius: 3px;
}

footer .foot-container > div:first-child > div:nth-child(3) > i:hover {
  color: white;
  text-shadow: 0 0 2px white;
  transform: scale(1.1);
}

