* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
  --p-color: rgb(178, 178, 178);
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  background-color: #101010;
  color: white;
  font-weight: 500;
}

.general-container {
  margin: 2rem auto;
  width: 50%;
  display: grid;
  grid-template-areas: "left center center right"
                       "1st center center right"
                       "2nd center center right"
                       "3rd center center right";
  gap: 1rem;
}

.general-container > * {
  background-color: #242424;
  padding: 1rem 1.5rem;
  border-radius: 10px;
}

/* ? HOME & SEARCH */

.upper-left {
  grid-area: left;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}

.upper-left > div:first-child, .upper-left > div:last-child {
  display: flex;
  gap: 1.5rem;
  padding: 0.5rem;
  cursor: pointer;
  color: var(--p-color);
  font-weight: bold;
}

.upper-left > div:first-child:hover, .upper-left > div:last-child:hover {
  color: white;
}

/* ? YOUR LIBRARY TOP */

.first-bottom-left {
  grid-area: 1st;
}

.library-left > div:first-of-type {
  display: flex;
  justify-content: space-between;
}

.library-left > div:first-of-type > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  font-weight: bold;
}

.library-left > div:first-of-type > div:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 2rem;
}

.library-down > div {
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
}

.library-down > div p {
  font-size: 1.2rem;
  background-color: #3a3a3a;
  border-radius: 30px;
  padding: 0.7rem 1rem;
}

.library-down > div p:hover {
  background-color: #4f4f4f;
  cursor: pointer;
  transition: all 0.3s ease-in;
}








.second-bottom-left {
  grid-area: 2nd;
}

.third-bottom-left {
  grid-area: 3rd;
}

.center {
  grid-area: center;
}

.center > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons-center-top > div:first-child {
  display: flex;
  gap: 0.8rem;
}

.icons-center-top > div:first-child span {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons-center-top > div:first-child span > i {
  position: absolute;
}

.icons-center-top > div:last-child {
  display: flex;
  gap: 1.5rem;
}

.icons-center-top > div:last-child span {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons-center-top > div:last-child span > i {
  position: absolute;
}


.upper-right {
  grid-area: right;
}

/* .third-bottom-left > div:nth-of-type(2) {
  display: flex;
  justify-content: flex-start;
  align-items: center;

} */

/* .third-bottom-left img {
  width: 50px;
}
 */


footer .foot-container {
  display: flex;
  justify-content: space-between;
 }
