* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
  --p-color: rgb(178, 178, 178);
  --spotify-green: #1ed760;
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  background-color: #000;
  color: var(--p-color);
  font-weight: 500;
  height: 99vh;
}

h1, h2, h3, h4 {
  color: white;
}

.general-container {
  margin: 1rem auto;
  width: 100%;
  max-height: 100%;
  display: grid;
  grid-template-rows: 108px 99px auto 7%;
  grid-template-columns: 20% auto auto 20%;
  grid-template-areas:"left center center right"
                      "1st center center right"
                      "3rd center center right"
                      "foot foot  foot  foot";
  gap: 0.9rem;
}

.general-container > *:not(footer) {
  background-color: #101010;
  padding: 1rem 0.5rem;
  border-radius: 10px;
}

/* ? HOME & SEARCH */

.upper-left {
  grid-area: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 0 2rem;
}

.upper-left > div:first-child, .upper-left > div:last-child {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem 2rem;
  color: var(--p-color);
  font-weight: bold;
}

.upper-left > div:first-child p:hover, .upper-left > div:last-child p:hover {
  color: white;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

/* ? YOUR LIBRARY TOP */

.first-bottom-left {
  grid-area: 1st;
}

.library-left > div:first-of-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.library-left > div:first-of-type > div {
  cursor: pointer;
}

.library-left > div:first-of-type > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  font-weight: bold;
  padding: 0 1rem;
}

.library-left > div:first-of-type > div:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 2rem;
  padding: 0 1rem;
}

.library-down > div {
  margin: 2rem 0.5rem 1rem;
  display: flex;
  justify-content: space-evenly;

}

.library-down > div p {
  font-size: 1rem;
  background-color: #3a3a3a;
  color: white;
  border-radius: 30px;
  padding: 0.5rem 0.8rem;
}

.library-down > div p:hover {
  background-color: #4f4f4f;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.second-bottom-left {
  grid-area: 2nd;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 1.5rem 1.5rem;
}


.second-bottom-left > div:nth-child(2) > p::after {
  content: "\f03a";
  font: var(--fa-font-solid);
  padding-left: 1rem;
}

/* ? ARTISTS ALBUMS STARTS */

.third-bottom-left {
  grid-area: 3rd;
  overflow-y: scroll;
}

.third-bottom-left > .albumc {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 1.5rem;
  gap: 1.3rem;
  font-size: 1.4rem;
}

.third-bottom-left > .albumc:nth-of-type(7) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #232323;
}

.third-bottom-left > .albumc:nth-of-type(7) > div:first-of-type {
  display: flex;
  gap: 1.3rem;
  align-items: center;
}

.albumc:nth-of-type(7) h3 {
  color: #1ed760;
}

.albumc:nth-of-type(7) span i {
  color: #1ed760;
}

.third-bottom-left > .albumc:hover:not(.albumc:nth-of-type(7)) {
  background-color: #232323;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.third-bottom-left .albumc > div img {
  border-radius: 5px;
}

.third-bottom-left::-webkit-scrollbar {
  width: 10px;
}

.third-bottom-left::-webkit-scrollbar-track {
  background-color: transparent;
}

.third-bottom-left::-webkit-scrollbar-thumb {
  background-color: #88888800;
}

.third-bottom-left:hover::-webkit-scrollbar-thumb {
  background-color: #8888889c;
}

.third-bottom-left:hover::-webkit-scrollbar-thumb:hover {
  background-color: #a4a4a49c;
}

/* ? CENTER SECTION */

.center {
  grid-area: center;
  overflow-y: scroll;
}

.center > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center::-webkit-scrollbar {
  width: 10px;
}

.center::-webkit-scrollbar-track {
  background-color: transparent;
}

.center::-webkit-scrollbar-thumb {
  background-color: #88888800;
  cursor: pointer;
}

.center:hover::-webkit-scrollbar-thumb {
  background-color: #8888889c;
  transition: all 5s ease-in-out;
}

.center:hover::-webkit-scrollbar-thumb:hover {
  background-color: #a4a4a49c;
  transition: all 5s ease-in-out;
}

.icons-center-top > div:first-child {
  display: flex;
  gap: 0.8rem;
}

.icons-center-top > div:first-child span {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons-center-top > div:first-child span > i {
  position: absolute;
}

.icons-center-top > div:last-child {
  display: flex;
  gap: 1.5rem;
}

.icons-center-top > div:last-child span {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons-center-top > div:last-child span > i {
  position: absolute;
}

.grid-evening {
  margin: 2rem 0 2rem 1rem;
  width: 90%;
  display: grid;
  grid-template-areas: "sleep chill rock"
                       "pop hip jazz";
  gap: 1.7rem;
}

.grid-evening > * {
  background-color: #2a2a2a;
  cursor: pointer;
}

.grid-evening > *:hover {
  background-color: #515151;
  transition: all 0.3s ease-in;
}

#sleep {
  grid-area: sleep;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  border-radius: 5px;
  color: white;
}

#sleep > img {
  border-radius: 5px 0 0 5px;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.516);
}

#sleep > div:nth-child(2) {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#sleep > div:nth-child(2) > span {
  background-color: #1ed760;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1.5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

#sleep:hover > div:nth-child(2) > span {
  box-shadow: 0 0 0 black, -2px 7px 8px rgba(0, 0, 0, 0.338);
  transition: all 0.4s ease-in;
  opacity: 1;
}

#sleep > div:nth-child(2) span > i {
  position: absolute;
  color: black;
  font-size: 20px;
}

#chill {
  grid-area: chill;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  border-radius: 5px;
  color: white;
}

#chill > img {
  border-radius: 5px 0 0 5px;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.516);
}

#chill > div:nth-child(2) {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#chill > div:nth-child(2) > span {
  background-color: #1ed760;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1.5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

#chill:hover > div:nth-child(2) > span {
  box-shadow: 0 0 0 black, -2px 7px 8px rgba(0, 0, 0, 0.338);
  transition: all 0.4s ease-in;
  opacity: 1;
}

#chill > div:nth-child(2) span > i {
  position: absolute;
  color: black;
  font-size: 20px;
}

#rock {
  grid-area: rock;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  border-radius: 5px;
  color: white;
}

#rock > img {
  border-radius: 5px 0 0 5px;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.516);
}

#rock > div:nth-child(2) {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#rock > div:nth-child(2) > span {
  background-color: #1ed760;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1.5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

#rock:hover > div:nth-child(2) > span {
  box-shadow: 0 0 0 black, -2px 7px 8px rgba(0, 0, 0, 0.338);
  transition: all 0.4s ease-in;
  opacity: 1;
}

#rock > div:nth-child(2) span > i {
  position: absolute;
  color: black;
  font-size: 20px;
}

#pop {
  grid-area: pop;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  border-radius: 5px;
  color: white;
}

#pop > img {
  border-radius: 5px 0 0 5px;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.516);
}

#pop > div:nth-child(2) {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#pop > div:nth-child(2) > span {
  background-color: #1ed760;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1.5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

#pop:hover > div:nth-child(2) > span {
  box-shadow: 0 0 0 black, -2px 7px 8px rgba(0, 0, 0, 0.338);
  transition: all 0.4s ease-in;
  opacity: 1;
}

#pop > div:nth-child(2) span > i {
  position: absolute;
  color: black;
  font-size: 20px;
}

#hip {
  grid-area: hip;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  border-radius: 5px;
  color: white;
}

#hip > img {
  border-radius: 5px 0 0 5px;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.516);
}

#hip > div:nth-child(2) {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hip > div:nth-child(2) > span {
  background-color: #1ed760;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1.5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

#hip:hover > div:nth-child(2) > span {
  box-shadow: 0 0 0 black, -2px 7px 8px rgba(0, 0, 0, 0.338);
  transition: all 0.4s ease-in;
  opacity: 1;
}

#hip > div:nth-child(2) span > i {
  position: absolute;
  color: black;
  font-size: 20px;
}

#jazz {
  grid-area: jazz;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  border-radius: 5px;
  color: white;
}

#jazz > img {
  border-radius: 5px 0 0 5px;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.516);
}

#jazz > div:nth-child(2) {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#jazz > div:nth-child(2) > span {
  background-color: #1ed760;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1.5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

#jazz:hover > div:nth-child(2) > span {
  box-shadow: 0 0 0 black, -2px 7px 8px rgba(0, 0, 0, 0.338);
  transition: all 0.4s ease-in;
  opacity: 1;
}

#jazz > div:nth-child(2) span > i {
  position: absolute;
  color: black;
  font-size: 20px;
}


/* ? MADE FOR YOU SECTION */

.made {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 0;
}

.for-u {
  width: 90%;
  display: grid;
  margin: 2rem 1rem 2rem 1rem;
  grid-template-areas: "box1 box2 box3 box4 box5 box6";
  gap: 1rem;
  overflow-x: hidden;
}

#box1 {
  grid-area: box1;
}

#box2 {
  grid-area: box2;
}

#box3 {
  grid-area: box3;
}

#box4 {
  grid-area: box4;
}

#box5 {
  grid-area: box5;
}

#box6 {
  grid-area: box6;
}

.spotify-box {
  background-color: #232323;
  padding: 1rem;
  border-radius: 5px;
  min-width: 100%;
}

.spotify-box img {
  max-width: 100%;
  border-radius: 5px;
}

.info > h3, p {
  margin-top: 0.5rem;
  font-size: 1.2rem;
}



/* ? RIGHT SECTION */

.upper-right {
  grid-area: right;
}


footer {
  grid-area: foot;
  background-color: #000;
  border: 1px solid white;
}

footer .foot-container {
  padding: 0 1.5rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ? LEFT PART OF FOOTER (PLAYING SONG) */

footer .foot-container > div:first-child {
  display: flex;
  gap: 1.8rem;
  align-items: center;
}

footer .foot-container > div:first-child > img {
  border-radius: 5px;
}

footer .foot-container > div:first-child > div:nth-child(3) > i:hover {
  color: white;
  text-shadow: 0 0 2px white;
  transform: scale(1.1);
}

/* ? MIDDLE PART OF FOOTER (CONTROLS) */

footer .foot-container > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

footer .foot-container > div:nth-child(2) > div:first-child {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  color: var(--p-color);
  font-size: 2rem;
}

footer .foot-container > div:nth-child(2) > div:first-child > i:nth-of-type(3) {
  font-size: 2.8rem;
}

footer .foot-container > div:nth-child(2) > div:first-child > i:nth-of-type(3):hover {
  color: white;
  transform: scale(1.1);
  transition: all 0.1s ease-in-out;
}

.fa-shuffle {
  color: #1ed760;
}


/* ? RIGHT PART OF FOOTER (EXTRA TOOLS) */

footer .foot-container > div:nth-child(3) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  color: var(--p-color);
  font-size: 1.5rem;
}

footer .foot-container > div:nth-child(3) > div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.5rem;
  position: relative;
}

footer .foot-container > div:nth-child(3) > i:not(.fa-play) {
  color: var(--p-color);
}

.fa-play {
  color: #1ed760;
}

footer .foot-container > div:nth-child(3) > i:hover:not(.fa-play) {
  color: white;
  cursor: pointer;
}

footer .foot-container > div:nth-child(3) > div > span {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 4px;
  background-color: rgba(103, 103, 103, 0.849);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .foot-container > div:nth-child(3) > div > span > .bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 40px;
  background-color: white;
  display: flex;
  align-items: center;
}

footer .foot-container > div:nth-child(3) > div > span:hover > .bar {
  background-color: #1ed760;
  cursor: pointer;
}

footer .foot-container > div:nth-child(3) > div > span:hover > .bar > .circle {
  position: absolute;
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  right: 0;
}


